.leaderboard, .goals{
  display:none;
  overflow-x: hidden;
}
.leaderboard.active, .goals.active{
  display:block;
}
.goals{
  padding: 20px 0;
  background: #333;
}
.goals img{
  width: 100%;
  margin: 0 0 10px 0;
}
.leaderboard-screen{
  padding: 0;
}
.leaderboard-screen img{
  width: 100%;
}

#box{
  position:relative;
  width: 100%;
  height: 300px;
}
.box{
  position:absolute;
  top: 0;
  width: 100%;
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
  left: 100%;
}

.box.left{
  left: -100%;
}
.box.center {
  left: 0;
}
.box.right {
  left: 100%;
}

.box.yellow{
  background: yellow;
}
.box.blue{
  background: blue;
}
.box.red{
  background: red;
}
