$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower
@import "animations.css";

body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: green;
  color: white;
  overflow-x: hidden;
  position:relative;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  ul{
    display:inline-block;
    list-style-type: none;
    text-align:right;
    width: 100%;
    margin: 0;
    padding: 0;
    //position:absolute;
    //left: 100%;
    visibility: hidden;
    li{
      width: 100%;
      padding: 10px 20px;
      a{
        color: white;
        text-decoration: none;
      }
    }
  }
}
.header{
  ul.navOpen{
    animation: move .7s ease;
    -webkit-animation: move .7s ease;

    visibility: visible;
  }
}
@keyframes move {
  0% {
    transform: translate(500px, 0px);
  }
  100% {
    transform: translate(10px, 0px);
  }  
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(500px, 0px);
  }
  100% {
    -webkit-transform: translate(10px, 0px);
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #FFF;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.headline {
  padding: 100px 0;
  text-align: center;
  visibility:hidden;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
  transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  visibility:hidden;
  p + h4 {
    margin-top: 28px;
  }
}
.flipMe .marketing{
  transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transition: -moz-transform 500ms;
  -ms-transition: -ms-transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  transition: transform 500ms;
  visibility: visible;	        
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
