$menuLinkColor: #FFF;
$menuLinkOnColor: #FFF;
$menuLinkColorDark: #000;
$menuLinkOnColorDark: #000;
$menuFontColor: #FFF;
$menuBgColor: #12b1c9;
$menuBarBgColor: #35bdd1;

body{
  background: #12b1c9;
}

header, .open header.lightHeader{
  background: #12b1c9;
}


.demo-links{
  position:relative;
  top: 0;
  width: 100%;
  min-height: 100%;
  //overflow-y:scroll;
  background-color: $menuBgColor;
  color: $menuFontColor;
  box-sizing: border-box;
  padding-bottom:40px;

  //opacity: 0;
  //visibility: hidden;
  //transition: opacity 1s, visibility 0s 1s;
  //-webkit-transition: opacity 1s, visibility 0s 1s;
  z-index: 12;
  .fixed-top{
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    background-color:$menuBarBgColor;
  }
  .logo{
    position:relative;
    padding: 15px 0;
  }
  .close{
    display:inline-block;
    margin:20px 0;
    background: url('../images/sprite/icn-close.png') no-repeat;
    width: 23px;
    height: 21px;
  }
  .table{
    display: table;
    width: 100%;
    height: 100%;
  }
  .vertical-wrap{
    display:table-cell;
    width: 100%;
    vertical-align:middle;
  }
  .divider{
    height: 1px;
    background: white;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .secondary-nav{
    .desktop-menu-footer {
      margin:0 auto;
      float:none;
    }
    text-align: center;
    a, a:hover{
      font-size: 1.33333em;
      color: $menuLinkColor;
      text-decoration: none;
      text-transform:uppercase;
    }
    a:hover{
      color: $menuLinkOnColor;
    }
  }
  ul.cat-links{
    list-style-type:none;
    position:relative;
    padding:90px 0 0;
    /* padding: 5em 0; /*60/12 (base font) */
    box-sizing:border-box;
    width: 100%;
    margin: 0 auto;
    li{
      display:block;
      text-align:center;
      padding-bottom: 3.3333em; /* 40/12 (base font)*/
        a, a:hover{
          color: $menuLinkColor;
          font-size: 2.5em;
          text-decoration: none;
          font-weight: normal;
        }
        a:hover{
          color: $menuLinkOnColor;
        }
    }
  }
  ul.bottom-links{
    list-style-type: none;
    padding: 3.3333em 0;
    text-align:center;
    li{
      display:inline-block;
      text-align:center;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 45px;
      a, a:hover{
        color: $menuLinkColor;
        font-size: 1.5em;
        text-decoration:none;
      }
      a:hover{
        color: $menuLinkOnColor;
      }
    }
    li.last{
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 767px){
  .demo-links ul.cat-links{
    padding: 0px 0 0;
  }
}
