/*Format | Industry title within category template components*/
.format-industry-title{
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0;
  /*width: auto;*/
  z-index: 1;
  text-transform: uppercase;
  padding: 10px 20px;
  font-size: 0.857em;
  color: #a8a8a8;

  /*a, a:hover{
    padding: 10px 20px;
    text-transform: uppercase;
    color: $catHeaderDark;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
    color: #a8a8a8;
  }
  a.last, a:hover.last{
    color: #a8a8a8;
  }
  a:first-child, a:hover:first-child{
    background: #00adee;
    color: white;
  }*/
}
/*.format-industry-title.border{
  a{
    padding-right: 20px;
    border-right: 1px solid $catHeaderDark;
    margin-right: 20px;
  }
  a.last{
    border-right: none;
  }
}*/
.format-industry-title.white{
  color: white;
  /*a{
    color: white;
    border-right: 1px solid #FFF;
  }
  a.last{
    border-right: none;
  }*/
}

.module.darkbg{
  .format-industry-title{
    color: #FFF;
    /*a, a:hover{
      color: #FFF;
    }*/
  }
  /*.format-industry-title.border{
    a{
      border-right: 1px solid #FFF;
    }
    a.last{
      border-right: none;
    }
  }*/
}


/*Format | Industry title within hero space*/
.main-content{
  .hero-wrapper{
    .format-industry-title.border{
      a{
        padding-right: 20px;
        border-right: 1px solid $catHeaderDark;
        margin-right: 20px;
        color: #000;
      }
      a.last{
        border-right: none;
      }
    }
    .format-industry-title.white{
      a{
        color: white;
        border-right: 1px solid #FFF;
      }
      a.last{
        border-right: none;
      }
    }
    .format-industry-title.pos{
      position:absolute;
      top:90px;
      margin-left:$grid-gutter-width;
    }
  }
}



@media screen and (max-width: 767px) {
  .format-industry-title{
    padding-left:5%;
    left:auto;
    top:auto;
    clear:both;
    a{
      display:inline-block;
      /*font-size:1.5em;*/
    }
  }
  .col1-fullbg{
    .format-industry-title{
      padding-left:0;
    }
  }
}
